In [1]:
import numpy as np
import pandas as pd
from pandas import read_csv

ModuleNotFoundError: No module named 'pandas'

In [4]:
path = "D:\my\datasets\\"
job_path = path + "JOB.csv"
jobad_path = path + "JOBAD.csv"
channel_path = path + "CHANNEL.csv"

jobtable = pd.read_csv(job_path)
jobadtable = pd.read_csv(jobad_path)
channeltable = pd.read_csv(channel_path)

 ## 一、表中单列操作

In [11]:
jobtable.columns

Index(['JobId', 'TenantId', 'OrgId', 'UserId', 'JobTitle', 'Salary',
       'Category', 'Kind', 'HeadCount', 'StartTime', 'EndTime', 'Duty',
       'Require', 'Status', 'LinkMan', 'Tel', 'Mobile', 'Fax', 'Email',
       'CreateDate', 'ModifiedDate', 'PostDate', 'ChangeDate', 'CreateBy',
       'ModifyBy', 'IsDeleted', 'ProcessId', 'IsOfferApproval',
       'IsNeedRequirement', 'ApplyFormId', 'InterviewEvaluationId', 'JobCode',
       'HrDutyUser', 'BusiDutyUser', 'RequireKind', 'AvailableDate',
       'SalaryRange', 'RankRuleId', 'FilterRuleId', 'FilterId',
       'ScoreIndicatorId', 'JobGuid', 'JobTemplateGuid', 'JobTemplateId',
       'JobLocation', 'WechatApplyFormId', 'OpenWechatApplyForm',
       'HealthScore'],
      dtype='object')

In [85]:

newcolums_job = [ 'TenantId', 'JobId','JobTitle']
new_jobtable = jobtable[newcolums_job]

newcolums_jobad = [ 'TenantId', 'UserId', 'JobId','JobAdId','JobAdName','AdChannelType','CreateDate']
new_jobadtable = jobadtable[newcolums_jobad]

newcolums_channel = [ 'TenantId', 'ChannelId','ChannelName']
new_channeltable = channeltable[newcolums_channel]

Index(['ChannelId', 'ChannelName', 'ChannelKindId', 'TenantId', 'IsSystem',
       'WebSite', 'CreateDate', 'CreateBy', 'ChannelOrder', 'ModifyDate',
       'ModifyBy', 'IsDelete', 'Description', 'LinkMan', 'LinkPhone',
       'channeltype', 'isAdChannel', 'Orgnization', 'ShareType', 'PortalSite',
       'WechatUrlAddress', 'ChannelSourceGid', 'IsDisplay'],
      dtype='object')

In [86]:
df1 = pd.merge(new_jobtable,new_jobadtable,how="left",left_on=['TenantId', 'JobId'],right_on=['TenantId', 'JobId'])

In [89]:
df2 = pd.merge(df1,new_channeltable,how='left',left_on=['TenantId', 'AdChannelType'],right_on=['TenantId', 'ChannelId'])

In [93]:
df2.dropna(inplace=True)

In [103]:
grouped = df2.groupby("ChannelId")["JobAdId"]

In [109]:
grouped.count().sort_values(ascending=False)

ChannelId
2.0            1519
1.0            1137
84.0            591
320.0           524
16.0            513
               ...
560000120.0       1
560000119.0       1
560000118.0       1
128.0             1
560000102.0       1
Name: JobAdId, Length: 215, dtype: int64

### 思考题1：筛选出发布超过6条广告的所有职位？

In [151]:
df = pd.merge(new_jobtable,new_jobadtable,how="left",left_on=['TenantId', 'JobId'],right_on=['TenantId', 'JobId'])

In [152]:
df.dropna(inplace=True)

In [153]:
#1.分组
temp = df.groupby(["JobId"]).count()

#2.找到符合条件的职位ID
temp = temp[temp["JobAdId"]>6]

#3.在列表中展示出这些职位：isin
df = df[df.JobId.isin(temp.index)]

In [154]:
df

       TenantId  JobId      JobTitle  ...             JobAdName  AdChannelType               CreateDate
18       100102     19  2017年2月4软件测试  ...  2017年2月4软件测试(J10018)    560000059.0  2017-02-22 16:15:40.513
19       100102     19  2017年2月4软件测试  ...  2017年2月4软件测试(J10018)    560000059.0  2017-03-02 11:52:35.390
20       100102     19  2017年2月4软件测试  ...  2017年2月4软件测试(J10018)           16.0  2017-03-02 11:52:35.390
21       100102     19  2017年2月4软件测试  ...  2017年2月4软件测试(J10018)    560000057.0  2017-03-02 11:52:35.390
22       100102     19  2017年2月4软件测试  ...  2017年2月4软件测试(J10018)    560000058.0  2017-03-02 11:52:35.390
...         ...    ...           ...  ...                   ...            ...                      ...
12499    100102   3262         PDF预览  ...           PDF预览J13267           16.0  2019-05-08 11:55:00.560
12500    100102   3262         PDF预览  ...           PDF预览J13267           16.0  2019-05-08 11:56:43.097
12501    100102   3262         PDF预览  ...           PDF预览J13267           16.0  2019-05-08 17:00:08.993
12502    100102   3262         PDF预览  ...           PDF预览J13267           61.0  2019-05-09 10:23:02.580
12503    100102   3262         PDF预览  ...           PDF预览J13267           61.0  2019-05-09 10:23:02.977

[7925 rows x 8 columns]

### 思考题2：筛选出广告发布超过3个渠道的所有职位？

In [183]:
df1 = pd.merge(new_jobtable,new_jobadtable,how="left",left_on=['TenantId', 'JobId'],right_on=['TenantId', 'JobId'])

df2 = pd.merge(df1,new_channeltable,how="left",left_on=['TenantId', 'AdChannelType'],right_on=['TenantId', 'ChannelId'])

df = df2.dropna()

In [184]:
df

       TenantId  JobId      JobTitle       UserId  ...  AdChannelType               CreateDate    ChannelId    ChannelName
18       100102     19  2017年2月4软件测试  112059018.0  ...    560000059.0  2017-02-22 16:15:40.513  560000059.0           北京网申
19       100102     19  2017年2月4软件测试  101995864.0  ...    560000059.0  2017-03-02 11:52:35.390  560000059.0           北京网申
20       100102     19  2017年2月4软件测试  101995864.0  ...           16.0  2017-03-02 11:52:35.390         16.0           内部推荐
21       100102     19  2017年2月4软件测试  101995864.0  ...    560000057.0  2017-03-02 11:52:35.390  560000057.0  00北森云猎头人才挖掘公司
22       100102     19  2017年2月4软件测试  101995864.0  ...    560000058.0  2017-03-02 11:52:35.390  560000058.0     蓝翔猎头人才管理公司
...         ...    ...           ...          ...  ...            ...                      ...          ...            ...
12499    100102   3262         PDF预览  112707484.0  ...           16.0  2019-05-08 11:55:00.560         16.0           内部推荐
12500    100102   3262         PDF预览  112707484.0  ...           16.0  2019-05-08 11:56:43.097         16.0           内部推荐
12501    100102   3262         PDF预览  112707484.0  ...           16.0  2019-05-08 17:00:08.993         16.0           内部推荐
12502    100102   3262         PDF预览  113787490.0  ...           61.0  2019-05-09 10:23:02.580         61.0        万行教师人才网
12503    100102   3262         PDF预览  113787490.0  ...           61.0  2019-05-09 10:23:02.977         61.0        万行教师人才网

[10946 rows x 10 columns]

In [200]:
#1.分组
#temp = df[["JobId","ChannelId"]]
temp = df.groupby(["JobId","ChannelId"]).count()

#2.找到符合条件的职位ID
#temp = temp[temp["ChannelId"]>6]

#3.在列表中展示出这些职位：isin
#df = df[df.JobId.isin(temp.index)]

In [240]:
#l = list(temp.index)
a1 = temp.index.get_level_values(0)
a2 = temp.index.get_level_values(1)
#list(a)


#temp.index.get_level_values(1)
s1 = pd.Series(a1)
s2 = pd.Series(a2)
s3 = pd.DataFrame([s1,s2])

In [243]:
df3 = s3.T

temp3 = df3.groupby(["JobId"]).count()

#2.找到符合条件的职位ID
temp3 = temp3[temp3["ChannelId"]>3]

#3.在列表中展示出这些职位：isin
df3 = df[df.JobId.isin(temp3.index)]

In [245]:
temp3

        ChannelId
JobId
19.0            6
24.0            5
25.0            5
29.0            4
33.0           11
...           ...
3145.0          5
3149.0          5
3254.0          4
3257.0          4
3260.0          5

[430 rows x 1 columns]